{% extends 'base.html.twig' %}

{% block title %} Au jardin {% endblock %}

{% block body %}
	<div class="jumbotron">
		<div class="container">
			<h1 class="display-3">Bienvenue au jardin !</h1>
		</div>
	</div>

	<div class="container">
	    <div class="row">
	      <div class="col-md-4">
	        <h2>Fleurs</h2>
	        <ul>
	        {% for fleur in fleurs %}
	        	<li><a class="" href="#" role="button">{{ fleur.id }} {{ fleur.nom }}</a></li>
	        {% endfor %}
	    	</ul>
	      </div>
	      <div class="col-md-4">
	        <h2>Fruits</h2>
	        <ul>
	        {% for fruit in fruits %}
	        	<li><a class="" href="#" role="button">{{ fruit.id }} {{ fruit.nom }}</a></li>
	        {% endfor %}
	    	</ul>
	      </div>
	      <div class="col-md-4">
	        <h2>Légumes</h2>
	        <ul>
	        {% for legume in legumes %}
	        	<li><a class="" href="#" role="button">{{ legume.id}} {{ legume.nom }}</a></li>
	        {% endfor %}
	    	</ul>
	      </div>
	</div>

    <hr>

{% endblock %}
