{% extends 'base.html.twig' %}

{% block title %}Les mangeurs{% endblock %}

{% block body %}
	<div class="jumbotron">
		<div class="container">
			<h1 class="display-3">
				{{ 'pageTitle'|trans({},'mangeurIndex')|title }}
			</h1>
		</div>
		{% if isMac %}
    		<h2>{{ 'paragraph0'|trans({},'mangeurIndex')|capitalize  }}</h2>
		{% endif %}
		
		{# recupération d'un attribut de reqête dans une subRequest #}
		{{ render(controller( 'App\\Controller\\MangeurController::_latestTweetsAction', 
			{
   				'userOnMac': app.request.attributes.get('isMac')
			}
		)) }}

	</div>

	<div class="container">
		<div class="row">
			{% for mangeur in mangeurs %}
				{# {{ dump(mangeur.vegetals)}} #}
				<div class="col-md-4">
					<h3>{{ 'label.nom'|trans({},'mangeurIndex')|upper  }}: {{ mangeur.nom }}</h3>
					<p>
						<ul>
							<li>{{ 'label.email'|trans({},'mangeurIndex')|upper  }}: {{ mangeur.email }}</li>
							<li>{{ 'label.adresse'|trans({},'mangeurIndex')|upper  }}: {{ mangeur.adresse }}</li>
							<li>{{ 'label.description'|trans({},'mangeurIndex')|upper  }}: {{ mangeur.description }}</li>
						</ul>
					</p>
					<p>
						<ul> {{ 'vegetaux'|trans({},'mangeurIndex')|upper  }}:
						{% for vegetal in mangeur.vegetals %}
							<li>{{vegetal.className}}: {{ vegetal.nom }}</li>
						{% endfor %}
						</ul>
					</p>
					<p><a class="btn btn-secondary" href="{{ path('mangeur_show', { id : mangeur.id }) }}" role="button">{{ 'show'|trans({},'mangeurIndex')|upper  }}  voir</a></p>
				</div>
			{% endfor %}
		</div>
	</div>

    <hr>

    <div class="container">
    	<h3>Les mangeurs de légumes</h3>
		<div class="row">
			{% for mangeur in mangeursLegumes %}
				{# {{ dump(mangeur.vegetals)}} #}
				<div class="col-md-4">
					<h4>Nom: {{ mangeur.fullName }}</h4>
					<p>
						{{ mangeur.prenom }} mange
						{% for vegetal in mangeur.vegetals %}
							{% if vegetal.className  == 'Legume' %}
							 {{ vegetal.nom }}
							{% endif %}
						{% endfor %} 
					</p>
				</div>
			{% endfor %}

		</div>
	</div>



{% endblock %}
