{% extends 'base.html.twig' %}

{% block title %} Les fleurs {% endblock %}

{% block body %}
	<div class="jumbotron">
		<div class="container">
			<h1 class="display-3">Espace fleurs! {{ fleurs|length }}</h1>
		</div>
	</div>
	<div class="container">
		<div class="row">
			{% for fleur in fleurs %}
			<div class="col-md-4" style="background-color:{{ fleur.couleur }}">
				<p><small>{{ fleur.createdAt|date('d-m-Y') }} {{ fleur.createdAt|date('H:i:s') }}</small></p>
				{# {{ dump(fleur.isUpdate)}} #}
				{% if fleur.isUpdate %}
					<p><small>{{ fleur.updatedAt|date('d-m-Y') }} {{ fleur.updatedAt|date('H:i:s') }}</small></p>
				{% endif %}
				<h3>{{ fleur.nom }}</h3>
				<p><small class="text-muted"> {{ fleur.bouquet }}</small></p>
				<p>{{ fleur.description }}</p>
				<p>Mangée par : {{ fleur.mangeur.fullName }}</p>
				<p>Cultivée par :
					<ul>
						{# For "fonctionne" comme if #}
						{% for jardinier in fleur.jardiniers %}
							<li>{{ jardinier.fullName }}</li>
							{% else %}	
							<li>M.Nobody</li>
						{% endfor %}
					</ul>
				</p>
				<p>Légumes :
					<ul>
						{# For "fonctionne" comme if #}
						{% for legume in fleur.legumes %}
							<li>{{ legume.nom }}</li>
							{% else %}	
							<li>No legume</li>
						{% endfor %}
					</ul>
				</p>
				<p><a class="btn btn-secondary" href="{{ path('fleur_edit', { slug : fleur.slug }) }}" role="button">Edit</a></p>
				</p>
			</div>
			{% endfor %}
		</div>
	</div>
	<hr>
{% endblock %}
