{% extends 'base.html.twig' %}

{% block title %} Les fleurs {% endblock %}

{% block body %}
	<div class="jumbotron">
		<div class="container">
			<h1>
				{{ 'pageTitle'|trans({},'fleurIndex')|title  }} {{ fleurs|length }}
			</h1>
		</div>

		<a href="{{ path('fleur_new')}}" class="btn btn-primary" role="button">
			{{ 'new'|trans({},'fleurIndex')|upper }}
		</a>
	</div>
	<div class="container">
		<div class="row">
			{% for fleur in fleurs %}
			<div class="col-md-4" style="background-color:{{ fleur.couleur }}">
				<p>
					<small>
						{{ 'inlineDate'|trans({},'fleurIndex')|capitalize}} :
						{{ fleur.createdAt|date('d-m-Y') }} 
					</small>
				</p>
				<h3>
					{{ 'nom'|trans({},'fleurIndex')|capitalize}} :
					{{ fleur.nom }}
				</h3>
				<p>
					<small class="text-muted">
						{{ 'bouquet'|trans({},'fleurIndex')|capitalize}} :
						{{ fleur.bouquet }}
					</small>
				</p>
				<p>
					{{ 'description'|trans({},'fleurIndex')|capitalize}} :
					{{ fleur.description }}
				</p>
				<p>
					{{ 'mangeur'|trans({},'fleurIndex')|capitalize}} :
					{{ fleur.mangeur.fullName }}
				</p>
				<p>{{ 'jadinier'|trans({},'fleurIndex')|capitalize}} :
					<ul>
						{# For "fonctionne" comme if #}
						{% for jardinier in fleur.jardiniers %}
							<li>{{ jardinier.fullName }}</li>
							{% else %}	
							<li>M.Nobody</li>
						{% endfor %}
					</ul>
				</p>
				<p>{{ 'légumes'|trans({},'fleurIndex')|capitalize}} :
					<ul>
						{# For "fonctionne" comme if #}
						{% for legume in fleur.legumes %}
							<li>{{ legume.nom }}</li>
							{% else %}	
							<li>No legume</li>
						{% endfor %}
					</ul>
				</p>
				<p>
					<a class="btn btn-secondary" 
						href="{{ path('fleur_edit', { slug : fleur.slug }) }}" role="button"
					>
					{{ 'edit'|trans({},'fleurIndex')|upper}}
					</a>
				</p>
			</div>
			{% endfor %}
		</div>
	</div>
	<hr>
{% endblock %}
