{% extends 'base.html.twig' %}

{% block title %}Les fruits{% endblock %}

{% block body %}
	<div class="jumbotron">
		<div class="container">
			<h1 class="display-3">Les fruits et les arbres !</h1>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h2>Les fruits</h2>
			</div>
			{% for fruit in fruits %}
			<div class="col-md-4">
				<h3>{{ fruit.nom }}</h3>
				<br>
				<p>{{ fruit.description }}</p>
				<p>
					<ul>
						<li>Arbre: {{ fruit.arbre.nom }}</li>
						<li>Salade de {{ fruit.salade }}</li>
					</ul>
				</p>
				<p>
					Mangeur: {{ fruit.mangeur.fullName }}
				</p>
				{# <p> Jardinniers: 
					{% for jardinier in fruit.jardiniers %}
						{{ jardinier.fullName }}
					{% endfor %}
				</p> #}
			</div>
			{% endfor %}
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h2>Les arbres</h2>
			</div>
			<br>
			{% for arbre in arbres %}
			<div class="col-md-4">
				<h3>{{ arbre.nom }}</h3>
				<p>{{ arbre.description }}</p>
				<p> Cultivé par
					{% for jardinier in arbre.jardiniers %}
						{{ jardinier.fullName }}
					{% else %}
						Mr.Nobody
					{% endfor %}	
				</p>
				<p>Fruits:
					{% for fruit in arbre.fruits %}
						{{ fruit.nom }} 
					{% else %}
						NO FRUIT 
					{% endfor %}
				</p>
			</div>
			{% endfor %}
		</div>
	</div>

{% endblock %}
