{% extends 'base.html.twig' %}

{% block title %}Les legumes{% endblock %}

{% block body %}
	<div class="jumbotron">
		<div class="container">
			<div class="container">
			<h1>
				{{ 'pageTitle'|trans({},'legumeIndex')|title }}
			</h1>
		</div>
			<p>{{ 'title1'|trans({},'legumeIndex')|upper }} 
				<ul>
					{% for legume in legumesEscargots %}
						<li>{{ legume.nom }}</li>
						{% else %}
							No legumes à fleurs d'escargots
					{% endfor %}
				</ul>
			</p>
		</div>
		<a href="{{ path('legume_new')}}" class="btn btn-primary" role="button">
			{{ 'new'|trans({},'legumeIndex')|upper }}
		</a>
	</div>

	<div class="container">
		<div class="row">
			{% for legume in legumes %}
			<div class="col-md-4">
				<h3>{{ legume.nom }}</h3>
				<p>{{ legume.description }}</p>
				<p>
					<ul>
						<li>{{ legume.taille }}</li>
						<li>{{ legume.soupe }}</li>
						<li>{{ 'mangeur'|trans({},'legumeIndex')|capitalize }}: {{ legume.mangeur.nom }}</li>
					</ul>
				</p>
				<p>
					<ul>
						{% for fleur in legume.fleurs %}
							<li>{{ fleur.nom }}</li>
						{% endfor %}
					</ul>
				</p>
				<p>
					<a class="btn btn-secondary" href="{{ path('legume_edit', { slug : legume.slug }) }}" role="button">{{ 'edit'|trans({},'legumeIndex')|upper}}</a>
				</p>

			</div>
			{% endfor %}
		</div>
	</div>
    <hr>
{% endblock %}
